{{ define "main" }}
<div class="container">
  <div class="col-lg-2
            col-md-8 
            col-sm-12
            col-xs-12
            post-container">
    <h2>Short Bio</h2>
  </div>
  <div class="col-lg-8 col-lg-offset-1
            col-md-8 col-md-offset-1
            col-sm-12
            col-xs-12
            post-container">
    <p>Stavros Niafas has a major in Informatics Engineering while he also holds two Msc's, in Data Science and in Image
      Synthesis & Multimedia.
      As a professional ML practitioner has demonstrated experience in both R&D and production settings, from driving
      ML experiments and PoC's into mature codebases to support e2e ML pipelines and systems.
      Stavros is a results oriented individual and perceives his craft as a mean to achieve a certain goal. While he
      keeps a high sense of ownership, he is genuinely dedicated to promote and establish a healthy AI culture within
      the teams
      and bridge the gap between technical complexity to non-technical audiences.
      Stavros is also actively engaged in FLOSS contributions, MLOps and systems engineering with strong foundations in
      Linux environments. </p>

    In analogue world, photography is his passion and vinyl collection his secret affair.
    </p>
    <a href="files/sniafas_cv.pdf" class="btn-theme"><b>Resume</b></a>
    <span>Updated: 01/2024</span>
  </div>
</div>
<hr>
{{ partial "portfolio.html" . }}
{{ end }}