/*------------------------------------------------------------------
    [Button]
------------------------------------------------------------------*/
.btn-theme {
  position: relative;
  display: inline-block;
  line-height: 3.5em;
  text-align: center;
  background-image: none;
  border-style: solid;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 3.5em;
  outline: 0;
  padding: 0 2em 0 2em;


}

.btn-theme:focus,
.btn-theme:active:focus,
.btn-theme.active:focus,
.btn-theme.focus,
.btn-theme:active.focus,
.btn-theme.active.focus {
  outline: none;
}

.btn-theme:hover {
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.btn-theme:hover,
.btn-theme:focus,
.btn-theme.focus {
  text-decoration: none;
}

.btn-theme:active,
.btn-theme.active {
  background-image: none;
  outline: 0;
}

.btn-theme.disabled,
.btn-theme[disabled],
fieldset[disabled] .btn-theme {
  cursor: not-allowed;
  box-shadow: none;
  opacity: .65;
  pointer-events: none;
}

.btn-icon {
  position: relative;
  top: 1px;
  margin-right: 10px;
}

.btn-white-bg {
  color: #515769;
  background: #fff;
  border-color: transparent;
  border-width: 0;
}

.btn-white-bg:hover,
.btn-white-bg:focus,
.btn-white-bg.focus {
  color: #fff;
  background: #17bed2;
  border-color: transparent;
}

.btn-white-brd {
  color: #fff;
  background: transparent;
  border-color: #fff;
  border-width: 2px;
}

.btn-white-brd:hover,
.btn-white-brd:focus,
.btn-white-brd.focus {
  color: #515769;
  background: #fff;
  border-color: #fff;
}

.btn-default-bg {
  color: #515769;
  background: #f3f4f5;
  border-color: transparent;
  border-width: 0;
}

.btn-default-bg:hover,
.btn-default-bg:focus,
.btn-default-bg.focus {
  color: #fff;
  background: #17bed2;
  border-color: transparent;
}

.btn-theme-sm {
  font-size: 13px;
  font-weight: 600;
  padding: 15px 40px;
}

.btn-theme-md {
  font-size: 15px;
  font-weight: 600;
  padding: 20px 30px;
}

.icon-scholar {
  content: url('assets/images/google-scholar.svg');
  height: 1em;
  width: auto;
}